@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Kalam", cursive !important;
  font-weight: 400;
  font-style: normal;
}

.navbar__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.footer__link-item {
  display: flex;
  justify-content: start;
  gap: 12px;
  align-items: center;
}

ul,
ol {
  padding-left: 16px;
}

a {
  color: rgb(5, 94, 228);
}

.footer__copyright {
  border-top: 1px solid rgba(223, 223, 223, 0.311);
  margin-top: 16px;
  padding-top: 16px;
}

.navbar__logo img {
  width: 36px;
  height: 36px;
}

.navbar__inner {
  padding: 0 6%;
}

@media (max-width: 550px) {
  .navbar__inner {
    padding: 0;
  }
  .navbar__logo img {
    display: none !important;
  }
}
